body {

  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  background: #fff;

  color: #111;

}

.site-header {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  display: flex;

  justify-content: space-between;

  align-items: flex-start;

  padding: 24px 32px;

  /* background: white; */

  z-index: 100;

  box-sizing: border-box;

}

main {

  padding-top: 100px;

}

.photo-slider {

 display: flex;

  gap: 24px;

  overflow-x: auto;

  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;

  scrollbar-width: none;

  -ms-overflow-style: none;
 
  margin-bottom: 60px;

}

.photo-slider::-webkit-scrollbar {

  display: none;

}


.photo-slider img {

  height: 70vh;

  width: auto;

  flex-shrink: 0;

  scroll-snap-align: center;

  object-fit: cover;

}

.photo-slider img:first-child {

  margin-left: 120px;

}

.header-main {

  font-size: 15px;

  margin-left: 120px;
  margin-bottom: 24px;

}

nav {

  display: flex;

  gap: 16px;

}

.CompanyName {

  font-size: 24px;

  font-weight: bold;

}



/* .analysis-slider {

  transform: scaleY(0);

  transform-origin: center;

  opacity: 0;

  transition:

    transform 0.7s cubic-bezier(0.77, 0, 0.175, 1),

    opacity 0.5s ease;

  overflow-x: auto;

  overflow-y: hidden;

  scrollbar-width: none;

  -ms-overflow-style: none;

}

.analysis-slider::-webkit-scrollbar {

  display: none;

} */

/* .analysis-slider.open {

  transform: scaleY(1);

  opacity: 1;

} */


.info {

  font-size: 14px;

  line-height: 1.5;

  max-width: 600px;

  margin-left: 150px;
  margin-bottom: 60px;

}

.text {

  font-size: 14px;

  line-height: 1.5;

  max-width: 600px;

  margin-left: 150px;
  margin-bottom: 60px;
}